.spinner-blocker {
  z-index: 1;
  left: inherit;
  top: inherit;
  position: relative;
  background: rgba(225, 225, 225, .5);
  height: auto;
  opacity: .3;
  animation: none !important;
  pointer-events: none;
}
