.spinner-blocker {
  z-index: 1;
  left: inherit;
  top: inherit;
  position: relative;
  background: rgba(225, 225, 225, .3);
  height: auto;
  opacity: .8;
  animation: none !important;
  pointer-events: none;
}

.spinner-container {
  position: relative;
}

