.spinner-blocker {
  z-index: 1;
  left: inherit;
  top: inherit;
  position: relative;
  /*background: rgba(225, 225, 225, .5);
  background: rgba(0, 0, 0, 0.01); */
  height: auto;
  opacity: .8;
  animation: none !important;
  pointer-events: none;
}
